*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.sidebar-info{
    display: block;
    background-color: rgba(30, 30, 65, 0.9);
    color: white;
    padding-bottom: 43px;
    width: 410px;
}
.sidebar-info h3{
    text-align: left;
    padding: 20px 16px 10px;
}
.main-info{
    display: block;
    text-align: left;
    margin-left: 39px;
    margin-top: 16px;
}
.main-info h1{
    font-size: 2.8em;
    padding: 5px;
}
.main-container{
    display: flex;
    /* max-width: auto; */
    width: 1500px;
    margin: 9px 220px auto;
    overflow: hidden;
    background-color: hsl(0, 0%, 96%);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    
}
a{
    text-decoration: none;
    color: lightblue;
}
a:hover{
    color: rgb(0, 230, 255);
    text-decoration: underline;
    cursor: pointer;
}
.sidebar-info li{
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: 19px;
    margin-right: 19px;
}
ul{
    list-style: none;
}
p{
    padding: 16px;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
}

.main-info .periodo{
    display: block;
    font-size: 16px;
    margin-top: -30px;
    margin-bottom: 5px;
    color: rgb(80, 99, 124)
}
.main-info .empresa{
    margin-top: 0;
    margin-bottom: 0;
}
.paragrafos-main{
    font-size: 18px;
}
.paragrafos-main li{
    list-style: square;
}